<!DOCTYPE html>
    <head>
        <title>Login page</title>
    </head>

    <body>
        <a href="/logout">Logout</a>
        <br/>

        <img src="/statics/img/login.jpg" />

        <form action="" method="POST" enctype="multipart/form-data"/>
            <label>Username</label>
            <input type="text" name="username" value = "{{ .Username }}"/>

            <label>Name</label>
            <input type="text" name="name" value="{{ .Name }}"/>

            <label>Profile</label>
            <input type="file" name="profile" />

            <input type="submit" name="submit" value="submit"/> 
        </form>
    </body>
</html>