<!DOCTYPE html>
    <head>
        <title>Login page</title>
    </head>

    <body>
        <img src="/statics/img/login.jpg" />

        <form action="" method="POST" enctype="multipart/form-data"/>
            <label>Username</label>
            <input type="text" name="username" value = ""/>

            <label>Name</label>
            <input type="text" name="password" value=""/>

            <input type="submit" name="submit" value="submit"/> 
        </form>
    </body>
</html>